// @import "../../assets/scss/style.scss";

.registration_form {
    min-height: 100vh;
  
    .register_container {
      margin: auto;
      display: flex;
      justify-content: center;
      .register_part {
        width: 64%;
        .register_title {
          font-size: 24px;
          font-weight: 700;
        }
        .register_sub_title{
            font-size: 16px;
            margin-top: 2%;
        }
        .register_email_container {
          margin-top: 5%;
          .register_email_title {
            font-size: 12px;
            margin-bottom: 2%;
          }
         
        }
        .pwd_container{
          margin-top: 4%;
          .pwd_title{
            font-size: 12px;
            margin-bottom: 2%;
          }
        }
        
        .submit_btn_container {
          background: #132649;
          border-radius: 8px;
          margin-top: 3%;
          .submit_btn {
            width: 100%;
            color: #ffffff;
          }
        }
        .back_login_container{
          display: flex;
          justify-content: center;
          margin-top: 4%;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
  
  
  @media only screen and (max-width: 600px) {
    .register_container{
      margin: 0 !important;
      .register_part{
        width: 80% !important;
        .register_title{
          font-size: 18px !important;
        }
      }

    }
  }
  
  
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    .register_title{
      font-size: 18px !important;
    }
  }
  
  @media only screen and (min-width: 961px) and (max-width: 1280px) {
    .register_title{
      font-size: 18px !important;
    }
  }
  @media only screen and (min-width: 1281px) and (max-width: 1536px) {
    .register_email_title{
      font-size: 14px !important;
    }
    .pwd_title{
      font-size: 14px !important;
    }
    .back_login_container span{
      font-size: 14px !important;
    }
  }
  @media only screen and (min-width: 1537px) and (max-width: 2560px) {
    .register_email_title{
      font-size: 14px !important;
    }
    .pwd_title{
      font-size: 14px !important;
    }
    .back_login_container span{
      font-size: 14px !important;
    }
  }
  