@import "../../assets/scss/style.scss";

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-weight: 700 !important;
}
.box_container{
  padding: 16px;
}